include includes/header
<body>

include includes/toolbar
.page
	.page__header(style="background-image:url(/layout/images/header.jpg)")
	.container
		h1.page__title Лицензии, сертификаты, патенты
		.page__divider
		nav.nav
			a.nav__item(href="#") Структура холдинга
			a.nav__item(href="#") ГГО в цифрах
			a.nav__item(href="#") История
			a.nav__item(href="#") Политика в области качества
			a.nav__item(href="#").nav__item--active Сертификаты и свидетельства
			a.nav__item(href="#") Патенты
		.row.certs
			.col-xs-6.col-sm-4.col-md-3.col-lg-2
				.cert
					a.cert__picture(href="#", style="background-image: url(/layout/images/cert.jpg)")
					.cert__title Сертификат и Свидетельство СРО по строительству нефтегазовых объектов
			.col-xs-6.col-sm-4.col-md-3.col-lg-2
				.cert
					a.cert__picture(href="#", style="background-image: url(/layout/images/cert.jpg)")
					.cert__title Патент на изобретение «Способ управления процессом восстановления сернистых дымовых газов»
			.col-xs-6.col-sm-4.col-md-3.col-lg-2
				.cert
					a.cert__picture(href="#", style="background-image: url(/layout/images/cert.jpg)")
					.cert__title Сертификат и Свидетельство СРО по строительству нефтегазовых объектов
			.col-xs-6.col-sm-4.col-md-3.col-lg-2
				.cert
					a.cert__picture(href="#", style="background-image: url(/layout/images/cert.jpg)")
					.cert__title Патент на изобретение «Способ управления процессом восстановления сернистых дымовых газов»
			.col-xs-6.col-sm-4.col-md-3.col-lg-2
				.cert
					a.cert__picture(href="#", style="background-image: url(/layout/images/cert.jpg)")
					.cert__title Сертификат и Свидетельство СРО по строительству нефтегазовых объектов
			.col-xs-6.col-sm-4.col-md-3.col-lg-2
				.cert
					a.cert__picture(href="#", style="background-image: url(/layout/images/cert.jpg)")
					.cert__title Патент на изобретение «Способ управления процессом восстановления сернистых дымовых газов»
			.col-xs-6.col-sm-4.col-md-3.col-lg-2
				.cert
					a.cert__picture(href="#", style="background-image: url(/layout/images/cert.jpg)")
					.cert__title Сертификат и Свидетельство СРО по строительству нефтегазовых объектов
			.col-xs-6.col-sm-4.col-md-3.col-lg-2
				.cert
					a.cert__picture(href="#", style="background-image: url(/layout/images/cert.jpg)")
					.cert__title Патент на изобретение «Способ управления процессом восстановления сернистых дымовых газов»
			.col-xs-6.col-sm-4.col-md-3.col-lg-2
				.cert
					a.cert__picture(href="#", style="background-image: url(/layout/images/cert.jpg)")
					.cert__title Сертификат и Свидетельство СРО по строительству нефтегазовых объектов
			.col-xs-6.col-sm-4.col-md-3.col-lg-2
				.cert
					a.cert__picture(href="#", style="background-image: url(/layout/images/cert.jpg)")
					.cert__title Патент на изобретение «Способ управления процессом восстановления сернистых дымовых газов»
			.col-xs-6.col-sm-4.col-md-3.col-lg-2
				.cert
					a.cert__picture(href="#", style="background-image: url(/layout/images/cert.jpg)")
					.cert__title Сертификат и Свидетельство СРО по строительству нефтегазовых объектов
			.col-xs-6.col-sm-4.col-md-3.col-lg-2
				.cert
					a.cert__picture(href="#", style="background-image: url(/layout/images/cert.jpg)")
					.cert__title Патент на изобретение «Способ управления процессом восстановления сернистых дымовых газов»
include includes/footer