include includes/header
<body>

include includes/toolbar
.page
	.page__header(style="background-image:url(/layout/images/header.jpg)")
	.container
		h1.page__title Лицензии, сертификаты, патенты
		.page__divider
		nav.nav
			a.nav__item(href="#") Ключевые проекты
			a.nav__item(href="#") Отрасли
			a.nav__item(href="#") Виды деятельности
			a.nav__item(href="#") Технологии
			a.nav__item(href="#") Этапы проекта
			a.nav__item(href="#") Карта проектов
			a.nav__item(href="#") Референс
			a.nav__item(href="#").nav__item--active Наши заказчики

		h3 Наши заказчики
		.center
			a.client(href="#")
				img(src="/layout/images/l-1.jpg")
			a.client(href="#")
				img(src="/layout/images/l-2.jpg")
			a.client(href="#")
				img(src="/layout/images/l-3.jpg")
			a.client(href="#")
				img(src="/layout/images/l-4.jpg")
			a.client(href="#")
				img(src="/layout/images/l-5.jpg")
			a.client(href="#")
				img(src="/layout/images/l-6.jpg")
			a.client(href="#")
				img(src="/layout/images/l-1.jpg")
			a.client(href="#")
				img(src="/layout/images/l-2.jpg")
			a.client(href="#")
				img(src="/layout/images/l-3.jpg")
			a.client(href="#")
				img(src="/layout/images/l-4.jpg")
			a.client(href="#")
				img(src="/layout/images/l-5.jpg")
			a.client(href="#")
				img(src="/layout/images/l-6.jpg")
			a.client(href="#")
				img(src="/layout/images/l-1.jpg")
			a.client(href="#")
				img(src="/layout/images/l-2.jpg")
			a.client(href="#")
				img(src="/layout/images/l-3.jpg")
			a.client(href="#")
				img(src="/layout/images/l-4.jpg")
			a.client(href="#")
				img(src="/layout/images/l-5.jpg")
			a.client(href="#")
				img(src="/layout/images/l-6.jpg")
			a.client(href="#")
				img(src="/layout/images/l-1.jpg")
			a.client(href="#")
				img(src="/layout/images/l-2.jpg")
			a.client(href="#")
				img(src="/layout/images/l-3.jpg")
		h3 Наши партнеры
		.center
			a.client(href="#")
				img(src="/layout/images/l-1.jpg")
			a.client(href="#")
				img(src="/layout/images/l-2.jpg")
			a.client(href="#")
				img(src="/layout/images/l-3.jpg")
			a.client(href="#")
				img(src="/layout/images/l-4.jpg")
			a.client(href="#")
				img(src="/layout/images/l-5.jpg")
			a.client(href="#")
				img(src="/layout/images/l-6.jpg")
			a.client(href="#")
				img(src="/layout/images/l-1.jpg")
			a.client(href="#")
				img(src="/layout/images/l-2.jpg")
			a.client(href="#")
				img(src="/layout/images/l-3.jpg")
			a.client(href="#")
				img(src="/layout/images/l-4.jpg")
			a.client(href="#")
				img(src="/layout/images/l-5.jpg")
			a.client(href="#")
				img(src="/layout/images/l-6.jpg")
			a.client(href="#")
				img(src="/layout/images/l-1.jpg")
			a.client(href="#")
				img(src="/layout/images/l-2.jpg")
			a.client(href="#")
				img(src="/layout/images/l-3.jpg")
			a.client(href="#")
				img(src="/layout/images/l-4.jpg")
			a.client(href="#")
				img(src="/layout/images/l-5.jpg")
			a.client(href="#")
				img(src="/layout/images/l-6.jpg")
			a.client(href="#")
				img(src="/layout/images/l-1.jpg")
			a.client(href="#")
				img(src="/layout/images/l-2.jpg")
			a.client(href="#")
				img(src="/layout/images/l-3.jpg")
include includes/footer