include includes/header
<body>

include includes/toolbar
.page
	.page__header(style="background-image:url(/layout/images/header.jpg)")
	.container
		h1.page__title История
		.page__divider
		nav.nav
			a.nav__item(href="#") Структура холдинга
			a.nav__item(href="#") ГГО в цифрах
			a.nav__item(href="#").nav__item--active История
			a.nav__item(href="#") Политика в области качества
			a.nav__item(href="#") Сертификаты и свидетельства
			a.nav__item(href="#") Патенты
		.hidden
			.arrow__prev
				include ../../public_html/layout/images/svg/prev.svg
			.arrow__next
				include ../../public_html/layout/images/svg/next.svg
		.history
			.history__slider
				.history__slider-item
					a(href="#history-1") 2014
				.history__slider-item
					a(href="#history-2") 2013
				.history__slider-item
					a(href="#history-1") 2012
				.history__slider-item
					a(href="#history-2") 2009
				.history__slider-item
					a(href="#history-1") 2005
				.history__slider-item
					a(href="#history-2") 2001
				.history__slider-item
					a(href="#history-1") 1999
				.history__slider-item
					a(href="#history-2") 1995
				.history__slider-item
					a(href="#history-1") 1992
				.history__slider-item
					a(href="#history-2") 1990
				.history__slider-item
					a(href="#history-1") 1989
			.history__content
				span.history__content-block.history__content-block--active(id="history-1")
					p История нашей компании началась в 1928 году. Ключевую идею успеха, которая сопровождает нас на протяжении десятков лет, мы видим в приверженности к индивидуальному подходу к каждому из наших заказчиков. Сочетание накопленного опыта и умения решать персональные инжиниринговые задачи, мастерство поиска и созидания комплексных высокотехнологичных решений сформировали философию компании «Инжиниринг как искусство», которая находит отражение в каждом нашем проекте. В нашем референс-листе более 4 000 технологических установок. Мы реализуем инжиниринговые проекты полного цикла – от проектирования до введения в эксплуатацию оборудования для объектов нефтегазодобычи, нефтегазопереработки и нефтехимии.
					p История нашей компании началась в 1928 году. Ключевую идею успеха, которая сопровождает нас на протяжении десятков лет, мы видим в приверженности к индивидуальному подходу к каждому из наших заказчиков. Сочетание накопленного опыта и умения решать персональные инжиниринговые задачи, мастерство поиска и созидания комплексных высокотехнологичных решений сформировали философию компании «Инжиниринг как искусство», которая находит отражение в каждом нашем проекте. В нашем референс-листе более 4 000 технологических установок. Мы реализуем инжиниринговые проекты полного цикла – от проектирования до введения в эксплуатацию оборудования для объектов нефтегазодобычи, нефтегазопереработки и нефтехимии.
				span.history__content-block(id="history-2")
					p История нашей компании началась в 1928 году. Ключевую идею успеха, которая сопровождает нас на протяжении десятков лет, мы видим в приверженности к индивидуальному подходу к каждому из наших заказчиков. Сочетание накопленного опыта и умения решать персональные инжиниринговые задачи, мастерство поиска и созидания комплексных высокотехнологичных решений сформировали философию компании «Инжиниринг как искусство», которая находит отражение в каждом нашем проекте. В нашем референс-листе более 4 000 технологических установок. Мы реализуем инжиниринговые проекты полного цикла – от проектирования до введения в эксплуатацию оборудования для объектов нефтегазодобычи, нефтегазопереработки и нефтехимии.
		
include includes/footer