include includes/header
<body class="index">

include includes/toolbar

.slider(data-width="100%" data-height="100%" data-nav="false" data-loop="true" data-transition="crossfade")
	.slider__item(style="background-image: url(/layout/images/slider.jpg)")
		.container.right
			.slider__section
				include ../../public_html/layout/images/svg/i-3.svg
				| Нефтепереработка
			.page__divider.page__divider--small.float-none
			| <br>
			h1 Разрабатываем и внедряем решения для предприятий <nobr>по переработке</nobr> нефти
			| <br>
			a.button(href="#") Подробнее
	.slider__item(style="background-image: url(/layout/images/slider.jpg)")
		.container.right
			.slider__section
				include ../../public_html/layout/images/svg/i-3.svg
				| Нефтепереработка
			.page__divider.page__divider--small.float-none
			| <br>
			h1 Разрабатываем и внедряем решения для предприятий <nobr>по переработке</nobr> нефти
			| <br>
			a.button(href="#") Подробнее
	.slider__item(style="background-image: url(/layout/images/slider.jpg)")
		.container.right
			.slider__section
				include ../../public_html/layout/images/svg/i-3.svg
				| Нефтепереработка
			.page__divider.page__divider--small.float-none
			| <br>
			h1 Разрабатываем и внедряем решения для предприятий <nobr>по переработке</nobr> нефти
			| <br>
			a.button(href="#") Подробнее
.slider__frame
	.slider__down
		| Ключевые сведения <br>о компании
		br
		include ../../public_html/layout/images/svg/steps-arrow.svg
.scroll-fix

.sections
	.container.center
		h1.m-padding-bottom Мы осуществляем свою деятельность<br>в следующих отраслях:
		.row.xxl-margin-top.row--center.center.s-padding-top.m-padding-bottom.no-gutter
			.col-xs-2.col-xs-offset-1
				a.depth(href="#")
					include ../../public_html/layout/images/svg/i-1.svg
					| <br>Нефтедобыча
			.col-xs-2
				a.depth(href="#")
					include ../../public_html/layout/images/svg/i-2.svg
					| <br>Транспорт нефти и газа
			.col-xs-2
				a.depth(href="#")
					include ../../public_html/layout/images/svg/i-3.svg
					| <br>Нефтепереработка
			.col-xs-2
				a.depth(href="#")
					include ../../public_html/layout/images/svg/i-4.svg
					| <br>Газопереработка
			.col-xs-2
				a.depth(href="#")
					include ../../public_html/layout/images/svg/i-5.svg
					| <br>Нефтехимия
		.page__divider.xxl-margin-top
		.xs-padding-top
			a.more(href="#")
				include ../../public_html/layout/images/svg/steps-arrow.svg
				br
				| Подробнее

.numbers
	.container.center
		h1.m-padding-bottom Гопрогазоочистка в цифрах
		.page__divider.xxl-margin-top.xxl-margin-bottom
		.row
			.col-xs-4
				span Уже
				.number__value 86
				.page__divider.page__divider--small.float-none
				br
				| лет успешной работы <br> в России и по всему миру
			.col-xs-4
				span Более
				.number__value 4 000
				.page__divider.page__divider--small.float-none
				br
				| выполненных проектов<br> со дня основания
			.col-xs-4
				span Объем предоставляемых услуг
				.number__value 2 млн.
				.page__divider.page__divider--small.float-none
				br
				| человеко-часов в год
		.page__divider.xxl-margin-top.xxl-margin-bottom
		.row
			.col-xs-4
				span Наши установки производят
				.number__value 1,5 млн
				.page__divider.page__divider--small.float-none
				br
				| тонн серы в год
			.col-xs-4
				span Более
				.number__value 3 000
				.page__divider.page__divider--small.float-none
				br
				| тонн оборудования поставлено <br> нами за последние 3 года
			.col-xs-4
				span Более чем на
				.number__value 60
				.page__divider.page__divider--small.float-none
				br
				| нефтегазовых объектах нами<br> проведены пуско-наладочные<br>работы
		.page__divider.xxl-margin-top.xxl-margin-bottom
		.m-padding-top
			a.more(href="#")
				include ../../public_html/layout/images/svg/steps-arrow.svg
				br
				| Подробнее

.map
	.container.center
		.map__content
			h1.m-padding-bottom Карта проектов
			.map__text
				.xs-margin-bottom Более
				.number__value 4000
				| технологических установок
				br
				.page__divider.page__divider--small
				br
				| в
				.number__value 16
				| странах мира
			a.more(href="#")
				include ../../public_html/layout/images/svg/steps-arrow.svg
				br
				| Подробнее

footer.footer
	.container.container--width
		.row
			.col-xs-6
				h3 О компании
				p История нашей компании началась в 1928 году. Ключевую идею успеха, которая сопровождает нас на протяжении десятков лет, мы видим в приверженности к индивидуальному подходу к каждому из наших заказчиков. Сочетание накопленного опыта и умения решать персональные инжиниринговые задачи, мастерство поиска и созидания комплексных высокотехнологичных решений сформировали философию компании «Инжиниринг как искусство», которая находит отражение в каждом нашем проекте. В нашем референс-листе более 4 000 технологических установок. Мы реализуем инжиниринговые проекты полного цикла – от проектирования до введения в эксплуатацию оборудования для объектов нефтегазодобычи, нефтегазопереработки и нефтехимии.
			.col-xs-4
				h3 Новости
				.news
					.news__date 15 декабря 2014
					a(href="#").news__title Началась работа по монтажу установки по производству серы на Московском НПЗ.
				.news
					.news__date 15 декабря 2014
					a(href="#").news__title Завершен проект по строительству комплекса очистки газов от вредных веществ на Таймырском метеоритном кратере.
				a(href="#").news__more К другим новостям
			
			.col-xs-2
				h3 Навигация
				nav.nav
					a.nav__item(href="#") Отрасли
					a.nav__item(href="#") Виды деятельности
					a.nav__item(href="#") Проекты
					.nav__divider
					a.nav__item(href="#") Компания
					a.nav__item(href="#") Деятельность
					a.nav__item(href="#") Карьера
					a.nav__item(href="#") Пресс-центр
					a.nav__item(href="#") Контакты
	.container
		.row.copyright
			.col-xs-3
				| © 2014 ОАО “Гипрогазоочистка”
			.col-xs-4
				| Россия, Москва, ул. Первомайская, 126<br>
				a(href="mailto:info@ggo.ru") info@ggo.ru
			.col-xs-2
				a(href="#") Карта сайта
			.col-xs-3.right
				a.radia(href="http://radia.ru", target="_blank")
					include ../../public_html/layout/images/svg/radia.svg
					.radia__content
						| Разработка сайта <br>RADIA Interactive


</body>
</html>