include includes/header
<body>

include includes/toolbar
.page
	.page__header(style="background-image:url(/layout/images/header.jpg)")
	.container
		h1.page__title ГГО в цифрах
		.page__divider
		nav.nav
			a.nav__item(href="#") Структура холдинга
			a.nav__item(href="#").nav__item--active ГГО в цифрах
			a.nav__item(href="#") История
			a.nav__item(href="#") Политика в области качества
			a.nav__item(href="#") Сертификаты и свидетельства
			a.nav__item(href="#") Патенты
		.numbers.hidden-md.hidden-lg
			.row
				.col-sm-6
					.row
						.col-xs-2.center
							.xs-margin-top
								#n-1
									include ../../public_html/layout/images/svg/n-1.svg
						.col-sm-3
							.number__value.s-margin-left-sm.xxs-margin-left-lg 86
						.col-sm-6
							.xs-margin-top-sm.no-margin-top-lg.xs-margin-left-sm лет успешной работы <nobr>в России</nobr> <nobr>и по всему</nobr> миру
					.page__divider.m-margin-top.l-margin-bottom 
					.row
						.col-xs-12.border-right.border-right--padding
							big Наши установки производят
							.number__value.number__value--m 1,5 млн
							.row
								.col-xs-1
									#n-4
										include ../../public_html/layout/images/svg/n-4.svg
								.col-xs-9
									big.xs-margin-left.bigger.xs-line-height тонн серы в год 
				.col-sm-6
					.row
						.col-xs-3.m-margin-top
							big Более
							.xs-margin-top
								#n-3
									include ../../public_html/layout/images/svg/n-3.svg
						.col-xs-9
							.number__value.number__value--big 4000
							big выполненных проектов
					.page__divider.xl-margin-top.l-margin-bottom 
					.row
						.col-xs-7.border-right.border-right--small.xs--margin-left
							.right
								.xs--margin-bottom.s-line-height
									em Объем предоставленных<br>услуг
							.number__value.number__value--s 2 млн
							.xxs--margin-top
								em человеко-часов в год
						.col-xs-5.center
							.number__value.number__value--medium 58
							| партнеров
			.page__divider.m-margin-top.l-margin-bottom 
			.row
				.col-xs-4.border-right.border-right--medium
					.row
						.col-xs-4
							
								include ../../public_html/layout/images/svg/n-5.svg
						.col-xs-8
							small Более
							.number__value.number__value--xs 100
					.xs-line-height
						u транспортных средств (судов, негабаритных машин, стандартных еврофур, авиабортов) нами зафрахтовано для обеспечения логистики
					.page__divider.l-margin-top.s-margin-bottom
				.col-xs-8
					.row
						.col-xs-4.border-right.center.s-padding-top
							.number__value.number__value--medium 75
							small лицензиаров			
						.col-xs-7
							.row
								.col-xs-9.s-line-height
									.s-margin-left
										u Самый «быстрый» проект – от заключения договора до поставки спроектированного<br>нами оборудования – был<br>реализован всего за 
											strong 6 месяцев
								.col-xs-3
									include ../../public_html/layout/images/svg/n-6.svg
					.page__divider.xl-margin-top.l-margin-bottom 
			.row
				
				.col-xs-4.border-right
					.number__value.number__value--xxs 10,5 млн
					.s-line-height
						em тонн сырья перерабатывается на предприятиях нефтепереработки, нефтехимии и нефтедобычи
					.page__divider.m-margin-top.m-margin-bottom
					.row
						.col-xs-5
							.number__value.number__value--xs 125
						.col-xs-7
							.m-line-height.s-margin-left-lg.xxs-margin-top
								big Подрядных<br>организаций
				.col-xs-4.border-right
					.xs-margin-left
						.row
							.col-xs-8.s-line-height
								em
									| <nobr>За последние годы нами</nobr> <nobr>получено более</nobr> Сертификатов и деклараций и более 
							.col-xs-4.s-margin-top
								.number__value.float-right.number__value--xs.xs-margin-right 40
						.row.s-margin-top
							.col-xs-4
								.number__value.number__value--xs 34
							.col-xs-4
								.xs--margin-left.xxs-margin-top
									#n-7
										include ../../public_html/layout/images/svg/n-7.svg
							.col-xs-12
								.s-line-height.xs-margin-top.xxs--margin-top
									u разрешений РТН/заключений экспертиз <nobr>промышленной безопасности</nobr>
				.col-xs-4
					.row
						.col-xs-4
							big Более
							.xxs-margin-top
								include ../../public_html/layout/images/svg/n-2.svg
						.col-xs-8
							.number__value.number__value--xxs 30000
							.xs--margin-top
								big тонн <br>оборудования
						.col-xs-12
							.s-margin-top.m-line-height
								small нами было поставлено только за последние 3 года, при этом самая крупная поставка составила 
									nobr
										strong 716 
										| тонн
			.page__divider.xl-margin-top.l-margin-bottom 
			.row
				.col-xs-1.xs-margin-top
					include ../../public_html/layout/images/svg/n-9.svg
				.col-xs-6
					.number__value.number__value--big.m-margin-left 384 467
				.col-xs-5
					.s-margin-left
						| км преодолело наше оборудование на протяжении последних 3 лет, что равно расстоянию 10 раз вокруг Земли или 1 раз до Луны
		.numbers.visible-md.visible-lg
			.row.row--padding
				.col-xs-4.border-right
					.row
						.col-xs-2.center
							.xs-margin-top
								#n-1
									include ../../public_html/layout/images/svg/n-1.svg
						.col-sm-4.col-lg-3
							.number__value.s-margin-left-sm.xxs-margin-left-lg 86
						.col-sm-6.col-lg-7
							.xs-margin-top-sm.no-margin-top-lg.xs-margin-left-lg.no-margin-left-sm лет успешной работы <nobr>в России</nobr> <nobr>и по всему</nobr> миру
					.page__divider.m-margin-top.l-margin-bottom 
					.row
						.col-xs-12
							big Наши установки производят
							.number__value.number__value--m 1,5 млн
							.row
								.col-xs-2
									#n-4
										include ../../public_html/layout/images/svg/n-4.svg
								.col-xs-9
									big.xs-margin-left.bigger.xs-line-height тонн серы в год 
				.col-xs-8
					.row.row--padding
						.col-xs-6.border-right
							.row
								.col-xs-3.m-margin-top
									big Более
									.xs-margin-top
										#n-3
											include ../../public_html/layout/images/svg/n-3.svg
								.col-xs-9
									.number__value.number__value--big 4000
									big выполненных проектов
							.page__divider.l-margin-top.m-margin-bottom 
							.row.row--padding
								.col-xs-5.border-right.border-right--xl.center
									.number__value.number__value--medium 75
									small лицензиаров
								.col-xs-7.xs-margin-top
									.row
										.col-xs-4
											.s-margin-top
												#n-5
													include ../../public_html/layout/images/svg/n-5.svg
										.col-xs-8
											small Более
											.number__value.number__value--xxs 100
						.col-xs-6
							.row
								.col-xs-7.border-right.border-right--small
									.right
										.xs--margin-bottom.s-line-height
											em Объем предоставленных<br>услуг
									.number__value.number__value--s 2 млн
									.xxs--margin-top
										em человеко-часов в год
								.col-xs-5.center
									.number__value.number__value--medium 58
									| партнеров
							.page__divider.m-margin-top.m-margin-bottom 
							.row
								.col-xs-8.s-line-height
									u Самый «быстрый» проект – от заключения договора до поставки спроектированного<br>нами оборудования – был<br>реализован всего за 
										strong 6 месяцев
								.col-xs-4
									include ../../public_html/layout/images/svg/n-6.svg
							.page__divider.m-margin-top.m-margin-bottom 
						.col-xs-10.col-xs-offset-2
							.xl-margin-left
								small транспортных средств (судов, негабаритных машин, стандартных еврофур, авиабортов) нами зафрахтовано для обеспечения логистики
			.row.m-margin-top.row--padding
				.col-xs-6.number__small-position
					.row
						.col-xs-11
							.page__divider.m-margin-top.xl-margin-bottom
					.row.row--padding
						.col-xs-6.border-right
							.number__value.number__value--xxs 10,5 млн
							.s-line-height
								em тонн сырья перерабатывается на предприятиях нефтепереработки, нефтехимии и нефтедобычи
							.page__divider.m-margin-top.m-margin-bottom
							.row
								.col-xs-6
									.number__value 125
								.col-xs-6
									.m-line-height.s-margin-left-lg.xs-margin-top-lg.m-margin-top-sm
										em Подрядных организаций
						.col-xs-5
							.row
								.col-xs-8.s-line-height
									u
										| <nobr>За последние годы нами</nobr> <nobr>получено более</nobr> Сертификатов и деклараций и более 
								.col-xs-4.s-margin-top
									.number__value.float-right.number__value--xs 40
							.row.m-margin-top
								.col-xs-6
									.number__value.number__value--xs 34
								.col-xs-4
									.xs--margin-left
										include ../../public_html/layout/images/svg/n-7.svg
								.col-xs-12
									.s-line-height.xs-margin-top.xxs--margin-top
										u разрешений РТН/заключений экспертиз <nobr>промышленной безопасности</nobr>
				.col-xs-6
					.page__divider.s-margin-top.xl-margin-bottom.float-right.content-box.xl-padding-left
					.row.row--padding
						.col-xs-7.border-right.border-right--xl
							.row.xxl--margin-left
								.col-xs-3
									big Более
									.xxs-margin-top
										include ../../public_html/layout/images/svg/n-2.svg
								.col-xs-9
									.number__value.number__value--s 30000
									.xs--margin-top
										big тонн оборудования
								.col-xs-12
									.s-margin-top.m-line-height
										small нами было поставлено только за последние 3 года, при этом самая крупная поставка составила 
											nobr
												strong 716 
												| тонн
						.col-xs-5
							.row
								.col-xs-2
									include ../../public_html/layout/images/svg/n-8.svg
								.col-xs-10.right
									small Наша проектная документация получает положительное заключение Главгосэкспертизы с первого раза. 
							.xl-margin-top.s-line-height
								.row
									.col-xs-9
								u За период действия Постановления правительства РФ № 87 от 16.02.2008 такое заключение<br> получили более<br> наших<br> проектов.
								.number__value.number__value--m.float-right.xl--margin-top 10
				.col-xs-9.number__position
					.page__divider.no-margin-top.l-margin-bottom.content-box.xxl-padding-left
					.row
						.col-xs-1.m-margin-top-lg.s-margin-top-sm
							include ../../public_html/layout/images/svg/n-9.svg
						.col-xs-6
							.number__value.number__value--big.s-margin-left 384 467
						.col-xs-5
							.s-margin-left
								| км преодолело наше оборудование на протяжении последних 3 лет, что равно расстоянию 10 раз вокруг Земли или 1 раз до Луны
include includes/footer