include includes/header
<body>

include includes/toolbar
.page
	.page__header(style="background-image:url(/layout/images/header.jpg)")
	.container
		h1.page__title Пресс-центр
		.page__divider
		nav.nav
			a.nav__item(href="#").nav__item--active Новости
			a.nav__item(href="#") Научно-технические публикации
			a.nav__item(href="#") Фотогалерея
			.dropdown
				a.dropdown__trigger(href="#")
					span.dropdown__text 2014
					include ../../public_html/layout/images/svg/down.svg
				span.dropdown__frame
					a.dropdown__item(href="#", style="display:none") 2014
					a.dropdown__item(href="#") 2013
					a.dropdown__item(href="#") 2012
				select.dropdown__select
					option(value="2014") 2014
					option(value="2013") 2013
					option(value="2012") 2012
		.news
			.news__date 22 октября 2014
			a.news__title(href="#") Ключевую идею успеха, которая сопровождает нас на протяжении десятков лет, мы видим в приверженности к индивидуальному подходу.
			.news__description Сочетание накопленного опыта и умения решать персональные инжиниринговые задачи, мастерство поиска и созидания комплексных высокотехнологичных решений сформировали философию компании «Инжиниринг как искусство», которая находит отражение в каждом нашем проекте.
		.news
			.news__date 22 октября 2014
			a.news__title(href="#") Ключевую идею успеха, которая сопровождает нас.
			.news__description Сочетание накопленного опыта и умения решать персональные инжиниринговые задачи, мастерство поиска и созидания комплексных высокотехнологичных решений сформировали философию компании «Инжиниринг как искусство», которая находит отражение в каждом нашем проекте.
		.news
			.news__date 22 октября 2014
			a.news__title(href="#") Ключевую идею успеха, которая сопровождает нас на протяжении десятков лет, мы видим в приверженности к индивидуальному подходу.
			.news__description Сочетание накопленного опыта и умения решать персональные инжиниринговые задачи, мастерство поиска и созидания комплексных высокотехнологичных решений сформировали философию компании «Инжиниринг как искусство», которая находит отражение в каждом нашем проекте.
		.news
			.news__date 22 октября 2014
			a.news__title(href="#") Ключевую идею успеха, которая сопровождает нас.
			.news__description Сочетание накопленного опыта и умения решать персональные инжиниринговые задачи, мастерство поиска и созидания комплексных высокотехнологичных решений сформировали философию компании «Инжиниринг как искусство», которая находит отражение в каждом нашем проекте.
			
include includes/footer