include includes/header
<body>

include includes/toolbar
.page
	.page__header(style="background-image:url(/layout/images/header.jpg)")
	.container
		h1.page__title Этапы проекта
		.page__divider
		nav.nav
			a.nav__item(href="#") Ключевые проекты
			a.nav__item(href="#") Отрасли
			a.nav__item(href="#") Виды деятельности
			a.nav__item(href="#") Технологии
			a.nav__item(href="#").nav__item--active Этапы проекта
			a.nav__item(href="#") Карта проектов
			a.nav__item(href="#") Референс
			a.nav__item(href="#") Наши заказчики
		.steps
			.steps__section
				a.steps__title(href="#")
					span.steps__title-icon
						include ../../public_html/layout/images/svg/s-1.svg
					span 1. Проектирование
					span.steps__title-arrow
						include ../../public_html/layout/images/svg/steps-arrow.svg
				.steps__content
					.steps__sub-content
						a.steps__sub-title(href="#")
							include ../../public_html/layout/images/svg/next.svg
							| 2.1 Отдел поставки оборудования ОАО “Гипрозагоочистка”
						.steps__text
							p История нашей компании началась в 1928 году. Ключевую идею успеха, которая сопровождает нас на протяжении десятков лет, мы видим в приверженности к индивидуальному подходу к каждому из наших заказчиков. Сочетание накопленного опыта и умения решать персональные инжиниринговые задачи, мастерство поиска и созидания комплексных высокотехнологичных решений сформировали философию компании «Инжиниринг как искусство», которая находит отражение в каждом нашем проекте. В нашем референс-листе более 4 000 технологических установок. Мы реализуем инжиниринговые проекты полного цикла – от проектирования до введения в эксплуатацию оборудования для объектов нефтегазодобычи, нефтегазопереработки и нефтехимии.
					.steps__sub-content
						a.steps__sub-title(href="#")
							include ../../public_html/layout/images/svg/next.svg
							| 2.2 Производители и поставщики оборудования
						.steps__text
							p История нашей компании началась в 1928 году. Ключевую идею успеха, которая сопровождает нас на протяжении десятков лет, мы видим в приверженности к индивидуальному подходу к каждому из наших заказчиков. Сочетание накопленного опыта и умения решать персональные инжиниринговые задачи, мастерство поиска и созидания комплексных высокотехнологичных решений сформировали философию компании «Инжиниринг как искусство», которая находит отражение в каждом нашем проекте. В нашем референс-листе более 4 000 технологических установок. Мы реализуем инжиниринговые проекты полного цикла – от проектирования до введения в эксплуатацию оборудования для объектов нефтегазодобычи, нефтегазопереработки и нефтехимии.
			.steps__section
				a.steps__title(href="#")
					span.steps__title-icon
						include ../../public_html/layout/images/svg/s-2.svg
					span 2. Поставка оборудования
					span.steps__title-arrow
						include ../../public_html/layout/images/svg/steps-arrow.svg
				.steps__content
					.steps__sub-content
						a.steps__sub-title(href="#")
							include ../../public_html/layout/images/svg/next.svg
							| 2.1 Отдел поставки оборудования ОАО “Гипрозагоочистка”
						.steps__text
							p История нашей компании началась в 1928 году. Ключевую идею успеха, которая сопровождает нас на протяжении десятков лет, мы видим в приверженности к индивидуальному подходу к каждому из наших заказчиков. Сочетание накопленного опыта и умения решать персональные инжиниринговые задачи, мастерство поиска и созидания комплексных высокотехнологичных решений сформировали философию компании «Инжиниринг как искусство», которая находит отражение в каждом нашем проекте. В нашем референс-листе более 4 000 технологических установок. Мы реализуем инжиниринговые проекты полного цикла – от проектирования до введения в эксплуатацию оборудования для объектов нефтегазодобычи, нефтегазопереработки и нефтехимии.
					.steps__sub-content
						a.steps__sub-title(href="#")
							include ../../public_html/layout/images/svg/next.svg
							| 2.2 Производители и поставщики оборудования
						.steps__text
							p История нашей компании началась в 1928 году. Ключевую идею успеха, которая сопровождает нас на протяжении десятков лет, мы видим в приверженности к индивидуальному подходу к каждому из наших заказчиков. Сочетание накопленного опыта и умения решать персональные инжиниринговые задачи, мастерство поиска и созидания комплексных высокотехнологичных решений сформировали философию компании «Инжиниринг как искусство», которая находит отражение в каждом нашем проекте. В нашем референс-листе более 4 000 технологических установок. Мы реализуем инжиниринговые проекты полного цикла – от проектирования до введения в эксплуатацию оборудования для объектов нефтегазодобычи, нефтегазопереработки и нефтехимии.
			.steps__section
				a.steps__title(href="#")
					span.steps__title-icon
						include ../../public_html/layout/images/svg/s-4.svg
					span 3. Строительство
					span.steps__title-arrow
						include ../../public_html/layout/images/svg/steps-arrow.svg
				.steps__content
					.steps__sub-content
						a.steps__sub-title(href="#")
							include ../../public_html/layout/images/svg/next.svg
							| 2.1 Отдел поставки оборудования ОАО “Гипрозагоочистка”
						.steps__text
							p История нашей компании началась в 1928 году. Ключевую идею успеха, которая сопровождает нас на протяжении десятков лет, мы видим в приверженности к индивидуальному подходу к каждому из наших заказчиков. Сочетание накопленного опыта и умения решать персональные инжиниринговые задачи, мастерство поиска и созидания комплексных высокотехнологичных решений сформировали философию компании «Инжиниринг как искусство», которая находит отражение в каждом нашем проекте. В нашем референс-листе более 4 000 технологических установок. Мы реализуем инжиниринговые проекты полного цикла – от проектирования до введения в эксплуатацию оборудования для объектов нефтегазодобычи, нефтегазопереработки и нефтехимии.
					.steps__sub-content
						a.steps__sub-title(href="#")
							include ../../public_html/layout/images/svg/next.svg
							| 2.2 Производители и поставщики оборудования
						.steps__text
							p История нашей компании началась в 1928 году. Ключевую идею успеха, которая сопровождает нас на протяжении десятков лет, мы видим в приверженности к индивидуальному подходу к каждому из наших заказчиков. Сочетание накопленного опыта и умения решать персональные инжиниринговые задачи, мастерство поиска и созидания комплексных высокотехнологичных решений сформировали философию компании «Инжиниринг как искусство», которая находит отражение в каждом нашем проекте. В нашем референс-листе более 4 000 технологических установок. Мы реализуем инжиниринговые проекты полного цикла – от проектирования до введения в эксплуатацию оборудования для объектов нефтегазодобычи, нефтегазопереработки и нефтехимии.
			.steps__section
				a.steps__title(href="#")
					span.steps__title-icon
						include ../../public_html/layout/images/svg/s-5.svg
					span 4. Пуско-наладочные работы
					span.steps__title-arrow
						include ../../public_html/layout/images/svg/steps-arrow.svg
				.steps__content
					.steps__sub-content
						a.steps__sub-title(href="#")
							include ../../public_html/layout/images/svg/next.svg
							| 2.1 Отдел поставки оборудования ОАО “Гипрозагоочистка”
						.steps__text
							p История нашей компании началась в 1928 году. Ключевую идею успеха, которая сопровождает нас на протяжении десятков лет, мы видим в приверженности к индивидуальному подходу к каждому из наших заказчиков. Сочетание накопленного опыта и умения решать персональные инжиниринговые задачи, мастерство поиска и созидания комплексных высокотехнологичных решений сформировали философию компании «Инжиниринг как искусство», которая находит отражение в каждом нашем проекте. В нашем референс-листе более 4 000 технологических установок. Мы реализуем инжиниринговые проекты полного цикла – от проектирования до введения в эксплуатацию оборудования для объектов нефтегазодобычи, нефтегазопереработки и нефтехимии.
					.steps__sub-content
						a.steps__sub-title(href="#")
							include ../../public_html/layout/images/svg/next.svg
							| 2.2 Производители и поставщики оборудования
						.steps__text
							p История нашей компании началась в 1928 году. Ключевую идею успеха, которая сопровождает нас на протяжении десятков лет, мы видим в приверженности к индивидуальному подходу к каждому из наших заказчиков. Сочетание накопленного опыта и умения решать персональные инжиниринговые задачи, мастерство поиска и созидания комплексных высокотехнологичных решений сформировали философию компании «Инжиниринг как искусство», которая находит отражение в каждом нашем проекте. В нашем референс-листе более 4 000 технологических установок. Мы реализуем инжиниринговые проекты полного цикла – от проектирования до введения в эксплуатацию оборудования для объектов нефтегазодобычи, нефтегазопереработки и нефтехимии.
		
include includes/footer