include includes/header
<body>

include includes/toolbar
.page
	.page__header(style="background-image:url(/layout/images/header.jpg)")
	.container
		h1.page__title Отрасли
		.page__divider
		nav.nav
			a.nav__item(href="#") Ключевые проекты
			a.nav__item(href="#").nav__item--active Отрасли
			a.nav__item(href="#") Виды деятельности
			a.nav__item(href="#") Технологии
			a.nav__item(href="#") Этапы проекта
			a.nav__item(href="#") Карта проектов
			a.nav__item(href="#") Референс
			a.nav__item(href="#") Наши заказчики
		h2.page__title.page__title--icon
			include ../../public_html/layout/images/svg/i-3.svg
			| Технологии производства водорода
		.row
			.col-xs-9
				p.highlight История нашей компании началась в 1928 году. Ключевую идею успеха, которая сопровождает нас на протяжении десятков лет, мы видим в приверженности к индивидуальному подходу к каждому из наших заказчиков. 
				.page__divider.page__divider--small
				p.bigger История нашей компании началась в 1928 году. Ключевую идею успеха, которая сопровождает нас на протяжении десятков лет, мы видим в приверженности к индивидуальному подходу к каждому из наших заказчиков. Сочетание накопленного опыта и умения решать персональные инжиниринговые задачи, мастерство поиска и созидания комплексных высокотехнологичных решений сформировали философию компании «Инжиниринг как искусство», которая находит отражение в каждом нашем проекте. В нашем референс-листе более 4 000 технологических установок. Мы реализуем инжиниринговые проекты полного цикла – от проектирования до введения в эксплуатацию оборудования для объектов нефтегазодобычи, нефтегазопереработки и нефтехимии.
				.page__divider.page__divider--small
			.col-xs-3
				h3.page__title.page__title--small-icon
					include ../../public_html/layout/images/svg/i-3.svg
					| Технологии нефтепереработки
				ul.sections
					li
						a.sections__item(href="#") Установки первичной переработки нефти
					li
						a.sections__item(href="#") Установки вторичной переработки нефти
					li
						a.sections__itema.sections__item--active(href="#") Установки производства водорода
					li
						a.sections__item(href="#") Комплексные установки производства элементарной серы
					li
						a.sections__item(href="#") Установки производства и регенерации серной кислоты
					li
						a.sections__item(href="#") Установки алкилирования
					li
						a.sections__item(href="#") Установки регенерации катализаторов

		h3.l-margin-bottom Проекты данного вида деятальности
		.projects
			a.project(style="background-image: url(/layout/images/pb-1.jpg)" href="#")
				span Очень длинное название проекта
			a.project(style="background-image: url(/layout/images/pb-2.jpg)" href="#")
				span Очень длинное название проекта
			a.project(style="background-image: url(/layout/images/pb-3.jpg)" href="#")
				span Очень длинное название проекта
			a.project(style="background-image: url(/layout/images/pb-4.jpg)" href="#")
				span Очень длинное название проекта
			a.project(style="background-image: url(/layout/images/pb-5.jpg)" href="#")
				span Очень длинное название проекта
		p.xs-margin-top
			a(href="#") Все проекты
include includes/footer