include includes/header
<body>

include includes/toolbar
.page
	.page__header(style="background-image:url(/layout/images/header.jpg)")
	.container
		h1.page__title ГГО в цифрах
		.page__divider
		nav.nav
			a.nav__item(href="#") Структура холдинга
			a.nav__item(href="#").nav__item--active ГГО в цифрах
			a.nav__item(href="#") История
			a.nav__item(href="#") Политика в области качества
			a.nav__item(href="#") Сертификаты и свидетельства
			a.nav__item(href="#") Патенты
		.numbers.visible-xs
			.row
				.col-xs-8.right
					.left.xxl-margin-left.xl-padding-left
						small Входим в
					.number__value.xl-line-height Топ 10
				.col-xs-4
					include ../../public_html/layout/images/svg/w-1.svg
			
			small.xs-margin-top лучших работодателей России по мнению сотрудников
			.page__divider.l-margin-top.l-margin-bottom 
	
			.row
				.col-xs-2
					big Более
				.col-xs-4
					.number__value.number__value--big.xs--margin-top.xxs-margin-left 15
				.col-xs-6
					.s-line-height
						small программ обучения <nobr>в Корпоративном</nobr> университете
			.page__divider.l-margin-top.m-margin-bottom 
			.row
				.col-xs-5.right.m-margin-top
					include ../../public_html/layout/images/svg/w-2.svg
				.col-xs-7
					big Более
					.number__value.number__value--big 500
					.bigger.xs-line-height
						u человек общая численность инженерного состава
			.page__divider.l-margin-top.l-margin-bottom 
			.row
				.col-xs-6.center.border-right
					.number__value.number__value--medium 94%
					small Лояльность персонала
				.col-xs-6
					.number__value.number__value--medium 90%
					small 
						nobr Вовлеченность персонала
			
			.page__divider.l-margin-top.l-margin-bottom 
			.row
				.col-xs-7.border-right
					.row
						.col-xs-2
							small Более
						.col-xs-4
							.number__value 4
						.col-xs-5
							.float-right.xs-margin-top.s--margin-right
								include ../../public_html/layout/images/svg/w-3.svg
					.s-line-height
						u лет функционирования программы «Кадровый резерв»
				.col-xs-5.center
					.number__value.number__value--big 32
					.s-line-height
						u лет – средний  возраст инженерного состава
			.page__divider.l-margin-top.l-margin-bottom 
			.row
				.col-xs-3.m-margin-top
					include ../../public_html/layout/images/svg/w-4.svg
				.col-xs-3.xs-margin-top
					small.bigger Более
					.number__value 10
				.col-xs-6.s-line-height.xs--margin-top
					small социальных программ для сотрудников компании (здоровье, семья, компенсация жилья, дети, дотации на питание и т.д.)
			.page__divider.l-margin-top.l-margin-bottom 
			.row
				.col-xs-4.border-right
					.xs-line-height
						em Текучесть персонала менее
					.number__value.xs--margin-left 5%
				.col-xs-8
					small Удовлетворенность персонала
					.row.xs--margin-top
						.col-xs-3.s-margin-top
							include ../../public_html/layout/images/svg/w-5.svg
						.col-xs-7
							.number__value.number__value--m 93%
			.page__divider.s-margin-top.m-margin-bottom 
			.row
				.col-xs-3.right.s-margin-top
					include ../../public_html/layout/images/svg/w-6.svg
				.col-xs-9
					.number__value.number__value--s 24 место
					em по результатам Рейтинга работодателей <br>России 2013 года

		.numbers.visible-sm
			.row
				.col-xs-5.border-right
					.row
						.col-xs-8
							small.xxl-margin-left.s-padding-left Входим в
							.number__value.xl-line-height Топ 10
						.col-xs-4
							include ../../public_html/layout/images/svg/w-1.svg
					
					small.xs-margin-top лучших работодателей России по мнению сотрудников
					.page__divider.s-margin-top.xs-margin-bottom 
					.row
						.col-xs-3.xxs-margin-top
							big Более
						.col-xs-3
							.number__value.s--margin-left.xxs-margin-bottom 15
						.col-xs-6
							em программ обучения <nobr>в Корпоративном</nobr> университете
					.page__divider.xs-margin-bottom
					.row
						.col-xs-7
							.number__value.number__value--medium 94%
						.col-xs-4.xs-margin-top-lg.m-line-height.l--margin-left-md.no-margin-left-lg
							big Лояльность<br>персонала
				.col-xs-7
					.row
						.col-xs-7.border-right
							.row
								.col-xs-4
									big Более
									include ../../public_html/layout/images/svg/w-2.svg
								.col-xs-8
									.number__value 500
									.bigger.xs-line-height
										u человек общая численность инженерного состава
						.col-xs-5.center
							.number__value.number__value--big 32
							.s-line-height
								u лет – средний  возраст инженерного состава
					.page__divider.s-margin-top.s-margin-bottom 
					.row
						.col-xs-7.border-right
							.row
								.col-xs-2
									small Более
								.col-xs-4
									.number__value 4
								.col-xs-5
									.float-right.xs-margin-top.s--margin-right
										include ../../public_html/layout/images/svg/w-3.svg
							.s-line-height
								u лет функционирования программы «Кадровый резерв»
						.col-xs-5.center
							.number__value.number__value--xxs.xs-margin-top.xs-margin-bottom 90%
							.s-line-height
								em  Вовлеченность персонала

			.page__divider.s-margin-top.s-margin-bottom 
			.row
				.col-xs-8.border-right.border-right--xs
					.row
						.col-xs-2.s-margin-top
							include ../../public_html/layout/images/svg/w-4.svg
						.col-xs-3.xs--margin-top
							small.bigger Более
							.number__value.number__value--big 10
						.col-xs-7.s-margin-top
							small социальных программ для сотрудников компании (здоровье, семья, компенсация жилья, дети, дотации на питание и т.д.)
				.col-xs-4
					small Удовлетворенность персонала
					.row.xs--margin-top
						.col-xs-3.s-margin-top
							include ../../public_html/layout/images/svg/w-5.svg
						.col-xs-7
							.number__value.number__value--m 93%
			.page__divider.s-margin-bottom
			.row
				.col-xs-4.border-right
					big Текучесть персонала<br> менее
					.row.xl--margin-top
						.col-xs-7.col-xs-offset-3
							.number__value.number__value--m 5%
				.col-xs-8
					.row
						.col-xs-3.right.s-margin-top
							include ../../public_html/layout/images/svg/w-6.svg
						.col-xs-9
							.number__value 24 место
							em по результатам Рейтинга работодателей <br>России 2013 года
		.numbers.visible-md.visible-lg
			.row.row--padding
				.col-xs-4.border-right
					.row
						.col-xs-8
							small.xxl-margin-left.s-padding-left Входим в
							.number__value.xl-line-height Топ 10
						.col-xs-4
							include ../../public_html/layout/images/svg/w-1.svg
					
					small.visible-md-block.visible-lg-block.xs-margin-top лучших работодателей России по мнению сотрудников
					.page__divider.s-margin-top.xs-margin-bottom 
					.row
						.col-xs-3.xxs-margin-top
							big Более
						.col-xs-3
							.number__value.s--margin-left.xxs-margin-bottom 15
						.col-xs-6
							em программ обучения <nobr>в Корпоративном</nobr> университете
					.page__divider.xs-margin-bottom
					.row
						.col-xs-7
							.number__value.number__value--medium 94%
						.col-xs-4.xs-margin-top-lg.m-line-height.l--margin-left-md.no-margin-left-lg
							big Лояльность<br>персонала
				.col-xs-8
					.row.row--padding
						.col-xs-6.border-right
							.row
								.col-xs-3
									big Более
									include ../../public_html/layout/images/svg/w-2.svg
								.col-xs-9
									.number__value.number__value--big 500
									.bigger.xs-margin-left
										small.bigger <nobr>человек общая численность</nobr> <br>инженерного состава
							.page__divider.s-margin-top.s-margin-bottom 
							.row
								.col-xs-6.center.border-right.border-right--l
									.number__value.number__value--big 32
									.s-line-height
										u лет – средний  возраст инженерного состава
								.col-xs-6
									.row.m-margin-top
										.col-xs-3.col-lg-4
											small.bigger Более
											#w-4
												include ../../public_html/layout/images/svg/w-4.svg
										.col-xs-7
											.number__value.number__value--m 10
						.col-xs-6
							.row
								.col-xs-7.border-right
									.row
										.col-xs-2
											small Более
										.col-xs-4
											.number__value 4
										.col-xs-5
											.float-right.xs-margin-top.s--margin-right
												include ../../public_html/layout/images/svg/w-3.svg
									.s-line-height
										u лет функционирования программы «Кадровый резерв»
								.col-xs-5.center
									.number__value.number__value--xxs.xs-margin-top.xs-margin-bottom 90%
									.s-line-height
										em  Вовлеченность персонала
							.page__divider.s-margin-top.s-margin-bottom 
							.row
								.col-xs-12
									small Более
									.row
										.col-xs-5
											.number__value 60%
										.col-xs-7.s-line-height
											.s-margin-left
												u повышений в должности после прохождения Кадрового резерва компании
							.page__divider.s-margin-top.s-margin-bottom 
			.row.row--padding
				.col-xs-6
					.page__divider.s-margin-top.s-margin-bottom
					.row.row--padding
						.col-xs-6.border-right
							small Удовлетворенность персонала
							.row
								.col-xs-3.m-margin-top
									include ../../public_html/layout/images/svg/w-5.svg
								.col-xs-7
									.number__value.number__value--m 93%
						.col-xs-6
							big Текучесть персонала<br> менее
							.row.xl--margin-top
								.col-xs-7.col-xs-offset-3
									.number__value.number__value--m 5%
				.col-xs-6.m--margin-top-lg
					small социальных программ для сотрудников компании (здоровье, семья, компенсация жилья, дети, дотации на питание и т.д.)
					.page__divider.m-margin-top.m-margin-bottom
					.row
						.col-xs-7
							.number__value.number__value--s 24 место
						.col-xs-4.s-line-height.xs-margin-top-md.s-margin-top-lg.m--margin-left-lg.xxl--margin-left-md
							u <nobr>по результатам</nobr> <nobr>Рейтинга работодателей</nobr> России 2013 года
						.col-xs-1
							.float-right.m--margin-right-lg.xxl--margin-right-md
								include ../../public_html/layout/images/svg/w-6.svg
