.vacancy
	width 100%
	margin-bottom 30px
	&__title
		font-family 'Direct'
		font-weight: bold
		font-size 22px
		color black
		margin-bottom 4px
	h4
		text-transform: uppercase
		font-size 13px
		margin-top 40px
		margin-bottom 15px
		font-weight: bold
	a
		&:hover
			color blue
			border-line alpha(@color, .4)
	&__company
		font-size 15px
		color #4c5760

#vacancyDetail
	.modal-dialog
		max-width 830px
	.close
		svg
			path
				fill white
	.required
		color #717b84
		font-size 12px
		full-width()
		margin-top 25px
		line-height 15px
		span
			color #ff6d70
	.form
		display block
		padding 0
		max-width 95%
		&__footer
			margin-top 30px
			padding-top 10px
			border-top 1px solid #d5dbdf
		.captcha
			width 70%
			border 1px solid black
			background-position center center
			background-repeat no-repeat
			float left
		.file
			margin-top 38px
			&-description
				font-size 12px
				color #233347
				margin-top 20px
			&-name
				full-width()
				font-size 12px
				color #97a4b2
				margin 10px 0
			&-trigger
				float right
				width 105%
				background #1c75cf
				font-weight: bold
				text-transform: uppercase
				height 30px
				line-height 33px
				text-align: center
				color white
				font-size 10px
				letter-spacing 2px
				&.error
					background red
				&:hover
					background #64b1fa
		label[for="file"]
			margin-top 3px
		input, textarea
			border-color black
			text-align left
			padding-left 10px
			padding-right 10px
			&:focus
				outline 0
		textarea
			height 123px
		input[type=submit]
			width 100%
			border-radius 0
			border-width 1px
			text-align: center !important
			margin-top 45px
			background #1c75cf
			color white
			font-size 10px
			height 33px
			line-height 31px
			font-size 11px
			letter-spacing 3px
			&:hover
				background #64b1fa
				border-color #64b1fa
		.captcha__refresh
			margin-top 0
			float right
			svg
				top 0
				left 0
				path
					fill #1c75cf
		label
			margin-top 25px
			font-size 10px
			text-align left !important
			span
				color #ff6d70
				&.hidden-xs
					color black
	.vacancy-popup
		&__sub
			font-size 18px
			color #9c9c9c
		&__title
			font-size 26px
			margin-top 3px
			