@font-face
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/3ljkitoIVX5Fymmg9gh_5wLUuEpTyoUstqEm5AMlJo4.ttf) format('truetype');

@font-face
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://fonts.gstatic.com/s/ptsans/v8/kTYfCWJhlldPf5LnG4ZnHMDdSZkkecOE1hvV7ZHvhyU.ttf) format('truetype');
	
@font-face
	font-family: 'Direct';
	src: url(/layout/fonts/direct.woff) format('woff')
	font-weight: normal;
	font-style: normal;

@font-face
	font-family: 'Direct';
	src: url(/layout/fonts/direct-bold.woff) format('woff')
	font-weight: bold;
	font-style: normal;
	