.footer
	full-width()
	background: #f0f2f3
	.index &
		background white
	min-height 100px
	padding-top 45px
	padding-bottom 20px
	.container--width
		max-width 1140px
		padding 5px 60px
		.index &
			padding 0
	p
		max-width 80%
		color #636363
		font-size 15px
	h3
		margin-bottom 15px
	.news
		width 100%
		font-size 15px
		margin-bottom 20px
		max-width 87%
		&__more
			color #232424
			font-size 15px
			&:hover
				color blue
				border-line alpha(@color,.3) 
		&__date
			color #999a9a
			margin-bottom 5px
		&__title
			color blue
			&:hover
				color black
				border-line alpha(@color,.3) 
	.nav
		&__item
			float: left
			clear both
			color blue
			font-size 15px
			white-space no-wrap
			&--active
				padding-bottom 0
				border-bottom 0
			&:hover
				color black
				border-line alpha(@color,.3) 
		&__divider
			margin 15px 0
			height 3px
			background black
			float left
			clear:  both
			width 50%
	.projects
		width 100%
		&__more
			color blue
			font-size 15px
			&:hover
				color black
				border-line alpha(@color,.3) 
		.project
			display: inline-block
			width 97px
			height 97px
			margin 5px 18px 13px 0
			background-size cover
			background-position: center center
			t all
			span, &:after
				display none !important
			&:hover
				box-shadow inset 0 0 0 5px alpha(white,.3) 
	.copyright
		margin-top 45px
		color #acaeae
		font-size 13px
		border-top 1px solid #b5b6b7
		padding-top 20px
		a
			color #acaeae
			&:hover
				color blue
				border-line alpha(@color,.3)
	.radia
		t(all)
		display none
		position relative
		.index &
			display inline-block
		svg
			max-height 27px
			max-width 27px
			left -35px
			top 4px
			position absolute
			path
				t all
				fill #a6a6a6
		&__content
			font-weight normal
			text-decoration: none
			span
				text-transform: uppercase
			t all
		&:hover
			background transparent !important
			.radia__content
				color blue
			svg path
				fill blue 